#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.allPosts{
  display: flex;
  flex-direction: row;
}
#postCard{
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 5px teal solid;
  border-radius: 20px;
  margin: 10px;
  padding:15px;
  min-height:100px;
  width: 300px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden ;
  transition:min-height 2s, width 2s;
}

#postCard:hover,
#postCard.permaCard{
  min-height: 300px;
  max-width: 900px;
}

li{
  list-style-type: none;
}
