#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#postCard{
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 5px teal solid;
  border-radius: 20px;
  margin: 10px;
  padding:15px;
  height:100px;
  cursor: pointer;
  transition:height 2s;
}

#postCard:hover,
#postCard.permaCard{
  height: 600px;
}

li{
  list-style-type: none;
}
